<section class="min-vh-100" id="cover">
  <div class="container">
    <h3>{{'RECOVERY_PASS.TITLE' | translate}}</h3>
    <div class="row text-white">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
          <h5>{{'RECOVERY_PASS.TEXT' | translate}}</h5>
          <div class="form-group">
            <div class="alert alert-danger" [hidden]="!error">
                {{'RECOVERY_PASS.ERROR' | translate}}
            </div>
            <div  *ngIf="!error" class="alert alert-success" [hidden]="!success">
              {{'RECOVERY_PASS.SUCCESS' | translate}}
            </div>
            <input type="email" formControlName="email" class="form-control text-center"  placeholder="{{'RECOVERY_PASS.PLACEHOLDER' | translate}}" required maxlength="50">
            <div
              *ngIf="recoveryForm.get('email').invalid && recoveryForm.get('email').touched"
              class="validation">
              <small *ngIf="recoveryForm.get('email').errors.required">
                {{'RECOVERY_PASS.VALIDATION_EMPTY' | translate}}
              </small>
              <small *ngIf="recoveryForm.get('email').errors.email">
                {{'RECOVERY_PASS.VALIDATION_VALID' | translate}}
              </small>
            </div>
          </div>
          <button  class="btn btn-secondary btn-lg" type="submit" [disabled]="recoveryForm.invalid">{{'RECOVERY_PASS.BUTTON' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</section>

