<div class="container bg-info" style=" border-radius: 10px;">
  <div class="row" >
    <div class="col-md-6">
      <div class="well well-md">
        <div class="media">
          <a class="thumbnail pull-left" >
            <img class="media-object" src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png">
          </a>
          <div class="media-body text-left" >
            <div class="row" style="align-items: center">
              <div class="col-md-9">
            <h1 class="media-heading">First Last Name</h1>
            <h3>Role</h3>
              </div>
              <div class="col-md-2 ">
            <div class="btn-group" role="group">
              <a *ngIf="role ==='user'" href="#" class="btn btn-outline-primary">Message</a>
              <a *ngIf="role ==='user'" href="#" class="btn  btn-outline-primary">Send invitation</a>
              <a *ngIf="role ==='user'" href="#" class="btn  btn-outline-primary">Unfollow</a>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
