<div class="container-fluid my-1">
  <div class="card flex-fill"  style="color: #2d2d2d;height: 55%">
    <div class="row flex-fill h-auto no-gutters align-items-center">
      <div class="col-4 row-4 col-sm-1 col-md-2 col-lg-1 ">
        <img src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png" class="card-img rounded-circle">
        <h5>
          <span class="badge bg-primary" style="color: white;">{{user.username}}</span>
        </h5>

      </div>
        <div class="col-2 col-sm-5 col-md-auto col-lg-6 text-center align-self-center">
          <div *ngIf="userRole() ==='user' && getUserId() !== user.id" class="input-group justify-content-center">
            <form [formGroup]="inviteForm" novalidate>
              <input id="message" class="form-control" formControlName="inviteText" required placeholder="{{'DASHBOARD.SEARCH.USER_CARD.INVITE_MESSAGE' | translate}}" aria-label="Invite message" aria-describedby="basic-addon2">
            </form>
            <div class="input-group-append mr-5">
              <button [disabled]="inviteForm.invalid || clicked" type="submit" class="btn btn-primary" (click)="sendInvite()">{{nameSendButton}}</button>
            </div>
          </div>
          <div class="btn-group text-right">
            <a *ngIf="userRole() ==='super admin' || userRole() ==='admin'" (click)="goToProfile()" class="btn  btn-outline-primary">{{'DASHBOARD.SEARCH.USER_CARD.ADMIN_BUTTON.EDIT' | translate}}</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-7 col-lg-5">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{'DASHBOARD.SEARCH.USER_CARD.FIRST_NAME' | translate}} {{user.firstName}}</li>
              <li class="list-group-item">{{'DASHBOARD.SEARCH.USER_CARD.LAST_NAME' | translate}} {{user.lastName}}</li>
              <li class="list-group-item">{{'DASHBOARD.SEARCH.USER_CARD.EMAIL' | translate}} {{user.email}}</li>
            </ul>
        </div>
    </div>
  </div>
</div>
