
<div class="container-fluid my-1">
  <div class="card flex-fill"  style="color: #2d2d2d;height: 55%">
    <div class="row flex-fill h-auto no-gutters align-items-center">
      <div class="col-4 col-sm-1 col-md-2 col-lg-1 ">
        <img src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png" class="card-img rounded-circle">
      </div>
        <div class="col-2 col-sm-5 col-md-auto col-lg-6 text-center align-self-center">
          <h2>
            <label class="card-title">{{user.username+' '+user.firstName+' '+user.lastName}}</label>
          </h2>
        </div>
        <div class="col-12 col-sm-6 col-md-7 col-lg-5 align-self-center">
          <div class="btn-group text-right">
            <a *ngIf="userRole() ==='user'" href="#" class="btn btn-outline-primary">Message</a>
            <a *ngIf="userRole() ==='user'" href="#" class="btn   btn-outline-success">Send invitation</a>
            <a *ngIf="userRole() ==='user'" href="#" class="btn  btn-outline-danger">Unfollow</a>
            <a *ngIf="userRole() ==='super admin' || userRole() ==='admin'" (click)="goToProfile()" class="btn  btn-outline-primary">Edit profile</a>
          </div>
        </div>
    </div>
  </div>
</div>
