<section class="min-vh-100">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<div class="container">
		<div class="edit-page-topbar">
			<h1 class="edit-page-heading">
				Settings
			</h1>
		</div>
		<div class="edit-group-container">
			<div class="edit-group-topbar">
				<h2 class="edit-group-heading">
					Profile
				</h2>
			</div>
			<button class="strip-default-btn-style edit-input-container has-chevron">
				<p class="edit-input-title">
					Avatar
				</p>
				<p class="edit-input-content">
					Click here to set Avatar
				</p>
			</button>
			<button class="strip-default-btn-style edit-input-container has-chevron">
				<p class="edit-input-title">
					Username
				</p>
				<p class="edit-input-content" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;">
					Nickname
				</p>
			</button>
			<button class="strip-default-btn-style edit-input-container has-chevron">
				<p class="edit-input-title">
					Name
				</p>
				<p class="edit-input-content" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;">
					User name
				</p>
			</button>
			<button class="strip-default-btn-style edit-input-container has-chevron">
				<p class="edit-input-title">
					Grade
				</p>
				<p class="edit-input-content">
					3rd Grade
				</p>
			</button>
			<button class="strip-default-btn-style edit-input-container has-chevron">
				<p class="edit-input-title">
					Language
				</p>
				<p class="edit-input-content">
					English
				</p>
			</button>
		</div>
	</div>
</section>