<section class="min-vh-100" style="margin-top: 100px;">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<div class="container">
		<div class="row my-2">
			<div class="col-lg-4 order-lg-1 text-center">
	            <img src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png" width="150" height="150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
	            <h6 class="mt-2">Upload a different photo</h6>
	            <label class="custom-file">
	                <input type="file" id="file" class="custom-file-input">
	                <span class="custom-file-control">Choose file</span>
	            </label>
      </div>
			<div class="col-lg-8 order-lg-2">
				<ul class="nav nav-tabs">
					<li *ngIf="!editOnly" class="nav-item">
						<a  data-target="#profile" data-toggle="tab" class="nav-link active show">Profile</a>
					</li>
					<li class="nav-item">
						<a  data-target="#edit" data-toggle="tab" class="nav-link" [class.active]="editOnly">Edit</a>
					</li>
				</ul>
				<div  class="tab-content py-4">
					<div *ngIf="!editOnly" class="tab-pane active show" id="profile">
						<h5 class="mb-3">{{user.role.name | uppercase}} PROFILE</h5>
						<div class="col">
							<div class="col-md-6">
								<h6>{{user.username}}</h6>
								<p>
                                {{user.firstName}}, {{user.lastName}}
								</p>
								<h6>{{user.email}}</h6>
							</div>
						</div>
					</div>
					<div class="tab-pane" [class.active]="editOnly" id="edit">
						<form [formGroup]="userForm" role="form" (submit)="submit()">
							<div class="form-group row">
								<div class="col-lg-11 ml-lg-3 alert alert-danger" [hidden]="!error">
									There was a problem. {{error}}.
								  </div>
								  <div class="col-lg-11 ml-lg-3 alert alert-success" [hidden]="!message">
									{{message}}
								  </div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">First name</label>
								<div class="col-lg-9">
									<input class="form-control" formControlName="firstname" type="text" >
								</div>
							</div>
              <small *ngIf="userForm.get('email').errors.required">
                First name cannot be empty
              </small>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Last name</label>
								<div class="col-lg-9">
									<input class="form-control" formControlName="lastname" type="text" >
								</div>
							</div>
              <small *ngIf="userForm.get('email').errors.required">
                Last name cannot be empty
              </small>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Email</label>
								<div class="col-lg-9">
									<input class="form-control" formControlName="email" type="email" >
								</div>
							</div>
              <small *ngIf="userForm.get('email').errors.email">
                Please fill in a valid email address
              </small>
              <small *ngIf="userForm.get('email').errors.required">
                Email name cannot be empty
              </small>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Username</label>
								<div class="col-lg-9">
									<input class="form-control" formControlName="username" type="text" >
								</div>
							</div>
              <small *ngIf="userForm.get('email').errors.required">
                Username name cannot be empty
              </small>

							<div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                <div class="col-lg-9">
                    <input class="form-control" formControlName="password" type="password" >
                </div>
              </div>
              <small *ngIf="userForm.get('email').errors.required">
                Password name cannot be empty
              </small>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                  <div class="col-lg-9">
                      <input class="form-control" type="password" >
                  </div>
              </div>
              <small *ngIf="userForm.get('email').errors.required">
                This field cannot be empty
              </small>
                <div *ngIf="editOnly && userRole()==='super admin'" class="form-group row">
                    <div class="form-check">
						<label class="col-lg-7  form-check-label" for="gridRadios1">
							Admin
                      <input class="form-check-input " type="radio" name="gridRadios" id="gridRadios1" value="admin" formControlName="role">
					</label>
                    </div>
                    <div class="form-check">
						<label class="form-check-label col-lg-7" for="gridRadios2">
							Moderatot
                      <input class="form-check-input " type="radio" name="gridRadios" id="gridRadios2" value="moderator" formControlName="role">
					</label>
                    </div>
                </div>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-5">
                      <input  *ngIf="!editOnly" [disabled]="userForm.invalid" name="button_1" type="submit" class="btn btn-primary" (click)="update()" value="Save Changes">
                      <input *ngIf="!editOnly && userRole()==='user'" name="button_2" type="submit" class="btn btn-danger ml-2" (click)="delete()" value="Delete Account">
                      <input *ngIf="editOnly" [disabled]="userForm.invalid" type="submit" name="button_3" class="btn btn-success mt-lg-3" (click)="add()"  value="Add">
                  </div>
              </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


