<section class="min-vh-100" style="margin-top: 80px;">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<!-- <img src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png" width="200" height="200"> -->
	<div class="container">
		<div class="row my-2">
			<div class="col-lg-8 order-lg-2">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a href="" data-target="#profile" data-toggle="tab" class="nav-link active show">Profile</a>
					</li>
					<li class="nav-item">
						<a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
					</li>					
				</ul>
				<div class="tab-content py-4">
					<div class="tab-pane active show" id="profile">
						<h5 class="mb-3">User Profile</h5>
						<div class="col">
							<div class="col-md-6">
								<h6>About</h6>
								<p>
									
                                Web Designer, UI/UX Engineer
                            
								</p>
								<h6>Hobbies</h6>
								<p>
									
                                Indie music, skiing and hiking. I love the great outdoors.
                            
								</p>
							</div>
							<div class="col=md-12">
								<h5 class="mt-2">Recent activity</h5>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="edit">
						<form role="form">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">First name</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" value="Jane">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Last name</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" value="Bishop">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Email</label>
								<div class="col-lg-9">
									<input class="form-control" type="email" value="email@gmail.com">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Company</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" value>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Website</label>
								<div class="col-lg-9">
									<input class="form-control" type="url" value>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Adress</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" value placeholder="Street">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label"></label>
								<div class="col-lg-6">
									<input class="form-control" type="text" value placeholder="City">
								</div>
								<div class="col-lg-3">
									<input class="form-control" type="text" value placeholder="State">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
								<div class="col-lg-9">
									<select id="user_time_zone" class="form-control" size="0">
	                                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
	                                    <option value="Alaska">(GMT-09:00) Alaska</option>
	                                    <option value="Pacific Time (US & Canada)">(GMT-08:00) Pacific Time (US & Canada)</option>
	                                    <option value="Arizona">(GMT-07:00) Arizona</option>
	                                    <option value="Mountain Time (US & Canada)">(GMT-07:00) Mountain Time (US & Canada)</option>
	                                    <option value="Central Time (US & Canada)" selected="selected">(GMT-06:00) Central Time (US & Canada)</option>
	                                    <option value="Eastern Time (US & Canada)">(GMT-05:00) Eastern Time (US & Canada)</option>
	                                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                                	</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Username</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" value="janeuser">
								</div>
							</div>
							<div class="form-group row">
	                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
	                            <div class="col-lg-9">
	                                <input class="form-control" type="password" value="11111122333">
	                            </div>
	                        </div>
	                        <div class="form-group row">
	                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
	                            <div class="col-lg-9">
	                                <input class="form-control" type="password" value="11111122333">
	                            </div>
	                        </div>
	                        <div class="form-group row">
	                            <label class="col-lg-3 col-form-label form-control-label"></label>
	                            <div class="col-lg-9">
	                                <input type="reset" class="btn btn-secondary" value="Cancel">
	                                <input type="button" class="btn btn-primary" value="Save Changes">
	                            </div>
	                        </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4 order-lg-1 text-center">
	            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
	            <h6 class="mt-2">Upload a different photo</h6>
	            <label class="custom-file">
	                <input type="file" id="file" class="custom-file-input">
	                <span class="custom-file-control">Choose file</span>
	            </label>
	        </div>
		</div>
	</div>
</section>




























<!--<hr>-->
<!--<div class="container bootstrap snippet">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-10"><h1>User name</h1></div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-3">&lt;!&ndash;left col&ndash;&gt;-->
<!--      <div class="text-center">-->
<!--        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
<!--        <h6>Upload a different photo...</h6>-->
<!--        <input type="file" class="text-center center-block file-upload">-->
<!--      </div><br>-->
<!--    </div>&lt;!&ndash;/col-3&ndash;&gt;-->
<!--    <div class="col-sm-9">-->
<!--          <hr>-->
<!--          <form class="form" action="##" method="post" id="profileForm">-->
<!--            <div class="row form-group">-->
<!--              <div class="col-xs-6">-->
<!--                <label for="first_name"><h4>First name</h4></label>-->
<!--                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">-->
<!--              </div>-->
<!--              <div class="col-xs-6">-->
<!--                <label for="last_name"><h4>Last name</h4></label>-->
<!--                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--              <div class="col-xs-6">-->
<!--                <label for="phone"><h4>Phone</h4></label>-->
<!--                <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">-->
<!--              </div>-->
<!--              <div class="col-xs-6">-->
<!--                <label for="email"><h4>Email</h4></label>-->
<!--                <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->

<!--              <div class="col-xs-6">-->
<!--                <label for="email"><h4>Location</h4></label>-->
<!--                <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->

<!--              <div class="col-xs-6">-->
<!--                <label for="password"><h4>Password</h4></label>-->
<!--                <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->

<!--              <div class="col-xs-6">-->
<!--                <label for="password2"><h4>Verify</h4></label>-->
<!--                <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <div class="col-xs-12">-->
<!--                <br>-->
<!--                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>-->
<!--                <button class="btn bg-danger btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->

<!--          <hr>-->


<!--  </div>&lt;!&ndash;/col-9&ndash;&gt;-->
<!--</div>&lt;!&ndash;/row&ndash;&gt;-->
