<section class="min-vh-100" style="margin-top: 100px;">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <div class="container">
    <div class="row my-2">
      <div class="col-lg-4 order-lg-1 text-center">
        <img [src]="user.image || imageUrl" style="height: 200px; width: 200px" alt="avatar" class="img-thumbnail">
        <h6 class="mt-2">{{'DASHBOARD.PROFILE.PROFILE.UPLOAD' | translate}}</h6>
        <app-upload-file (onChanged)="onChanged($event)"></app-upload-file>
        <div>
          <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
          </div>
          <div *ngIf="uploadResponse.status === 'progress'">
            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              {{uploadResponse.message}}%
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li *ngIf="!editOnly" class="nav-item">
            <a  data-target="#profile" data-toggle="tab" class="nav-link active show">{{'DASHBOARD.PROFILE.PROFILE.LABEL' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  data-target="#edit" data-toggle="tab" class="nav-link" [class.active]="editOnly">{{'DASHBOARD.PROFILE.EDIT.LABEL' | translate}}</a>
          </li>
        </ul>
        <div  class="tab-content py-4">
          <div *ngIf="!editOnly" class="tab-pane active show" id="profile">
            <h5 class="mb-3">{{user.role.name | uppercase}} {{'DASHBOARD.PROFILE.PROFILE.LABEL' | translate | uppercase}}</h5>
            <div class="col">
              <div class="col-md-6">
                <h6>{{user.username}}</h6>
                <p>
                  {{user.firstName}}, {{user.lastName}}
                </p>
                <h6>{{user.email}}</h6>
              </div>
            </div>
          </div>
          <div class="tab-pane" [class.active]="editOnly" id="edit">
            <form [formGroup]="userForm" role="form" (ngSubmit)="submit()">
              <div class="form-group row">
                <div class="col-lg-11 ml-lg-3 alert alert-danger" [hidden]="!error">
                  {{error}}.
                </div>
                <div class="col-lg-11 ml-lg-3 alert alert-success" [hidden]="!message">
                  {{message}}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.FIRST_NAME' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="firstname" type="text" >
                </div>
                <div *ngIf="userForm.get('firstname').invalid && userForm.get('firstname').touched" class="validation">
                  <small *ngIf="userForm.get('firstname').errors.required">
                    {{'SIGN_UP.FORM.FIRST_NAME.VALIDATION_EMPTY' | translate}}
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.LAST_NAME' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="lastname" type="text" required>
                </div>
                <div *ngIf="userForm.get('lastname').invalid && userForm.get('lastname').touched" class="validation">
                  <small *ngIf="userForm.get('lastname').errors.required">
                    {{'SIGN_UP.FORM.LAST_NAME.VALIDATION_EMPTY' | translate}}
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.EMAIL' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="email" type="email" email>
                </div>
                <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched" class="validation">
                  <small *ngIf="userForm.get('email').errors.email">
                    {{'SIGN_UP.FORM.EMAIL.VALIDATION_VALID' | translate}}
                  </small>
                  <small *ngIf="userForm.get('email').errors.required">
                    {{'SIGN_UP.FORM.EMAIL.VALIDATION_EMPTY' | translate}}
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.USERNAME' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="username" type="text" >
                </div>
                <div *ngIf="userForm.get('username').invalid && userForm.get('username').touched" class="validation">
                  <small *ngIf="userForm.get('username').errors.required">
                    {{'SIGN_UP.FORM.USER_NAME.VALIDATION_EMPTY' | translate}}
                  </small>
                </div>
              </div>
              <div *ngIf="editOnly" class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.SIDEBAR.TABS.ADMINS_MODERATORS.EDIT.FORM.PASSWORD' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="password" type="password" >
                </div>
                <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched" class="validation">
                  <small *ngIf="userForm.get('password').errors.required">
                    {{'SIGN_UP.FORM.PASSWORD.VALIDATION_EMPTY' | translate}}
                  </small>
                </div>
              </div>
              <div *ngIf="editOnly" class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{'DASHBOARD.SIDEBAR.TABS.ADMINS_MODERATORS.EDIT.FORM.CONFIRM_PASSWORD' | translate}}</label>
                <div class="col-lg-9">
                  <input class="form-control" formControlName="confirmPassword" type="password" >
                </div>
                <div *ngIf="userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').touched" class="validation">
                  <small *ngIf="userForm.get('confirmPassword').errors.required">
                    {{'SIGN_UP.FORM.CONFIRM_PASSWORD.VALIDATION_EMPTY' | translate}}
                  </small>
                  <small *ngIf="userForm.get('confirmPassword').errors.mustMatch">
                    {{'SIGN_UP.FORM.CONFIRM_PASSWORD.VALIDATION_VALID' | translate}}
                  </small>
                </div>
              </div>
              <div *ngIf="editOnly && userRole()==='super admin'" class="form-group row">
                <div class="form-check">
                  <label class="col-lg-7  form-check-label" for="gridRadios1">
                    {{'DASHBOARD.SIDEBAR.TABS.ADMINS_MODERATORS.EDIT.FORM.RADIO_BUTTON.ADMIN' | translate}}
                    <input class="form-check-input " type="radio" name="role" id="gridRadios1" value="admin" formControlName="role" >
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label col-lg-7" for="gridRadios2">
                    {{'DASHBOARD.SIDEBAR.TABS.ADMINS_MODERATORS.EDIT.FORM.RADIO_BUTTON.MODERATOR' | translate}}
                    <input class="form-check-input " type="radio" name="role" id="gridRadios2" value="moderator" formControlName="role" >
                  </label>
                </div>
              </div>
              <div *ngIf="!editOnly" class="form-group row">
                <div class="col">
                  <div class="row">
                    <button class="btn btn-warning col-5" (click)="clearPass()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      {{'DASHBOARD.PROFILE.EDIT.BUTTON.SET_NEW_PASSWORD' | translate}}
                    </button>
                  </div>
                  <div class="row">
                    <div class="collapse w-100" id="collapseExample">
                      <label class="col-md-5 col-lg-5 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.CURRENT_PASSWORD' | translate}}</label>
                      <div class="col-lg-7">
                        <input class="form-control w-100" formControlName="confirmPassword"  type="password" >
                      </div>
                      <label class=" col-md-5 col-lg-5 col-form-label form-control-label">{{'DASHBOARD.PROFILE.EDIT.NEW_PASSWORD' | translate}}</label>
                      <div class="col-md-7 col-lg-7">
                        <input class="form-control w-100" formControlName="password" type="password" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-12">
                  <input  *ngIf="!editOnly" [disabled]="userForm.invalid" name="button_1" type="submit" class="btn btn-primary" (click)="update()" value="{{'DASHBOARD.PROFILE.EDIT.BUTTON.SAVE_CHANGES' | translate}}">
                  <input *ngIf="(!editOnly && user.role.name ==='admin' || user.role.name ==='moderator')  && user.status.id == userStatusActive" name="button_2"  class="btn btn-danger ml-sm-2" (click)="setStatus(userStatusDeactive)" value="Deactivate Account">
                  <input *ngIf="(!editOnly && user.role.name ==='admin' || user.role.name ==='moderator')  && user.status.id == userStatusDeactive" name="button_2"  class="btn btn-success ml-sm-2" (click)="setStatus(userStatusActive)" value="Activate Account">
                  <input *ngIf="editOnly" [disabled]="userForm.invalid" type="submit" name="button_3" class="btn btn-success mt-lg-3" (click)="add()"  value="{{'DASHBOARD.PROFILE.EDIT.BUTTON.ADD' | translate}}">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


