<div class="pt-4 col-lg-4 col-md-6 col-sm-6  align-self-center">
	<div  class="card  text-center text-white bg-primary mx-2 mx-sm-2 mx-md-2" style="width: 14rem; height: 17rem">
                <a routerLink="/quiz-edit/{{quiz.id}}">
                  <div class="card-header"><img src="../../assets/logo_brainduel.png" width="110" height="122"></div>
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{quiz.title}}</h5>
                  <p class="card-text">{{quiz.description}}</p>
                </div>
                <div class="btn-group justify-content-between" role="group" aria-label="First group">
                  <a routerLink="/quiz/{{quiz.id}}" class="btn btn-secondary ">Play</a>
                  <a *ngIf="isEdit" routerLink="/quiz-edit/{{quiz.id}}" class="btn btn-secondary">Edit</a>
                  <button *ngIf="!isEdit" class="favourite_btn" mat-icon-button color="warn" (click)="toggleSelected(quiz)">
                    <mat-icon
                      *ngIf="quiz.favourite"
                      aria-label="Example icon-button with a heart icon">
                      favorite
                    </mat-icon>

                    <mat-icon
                      *ngIf="!quiz.favourite"
                      aria-label="Example icon-button with a heart icon">
                      favorite_border
                    </mat-icon>
                  </button>

                </div>
              </div>
</div>
