<section   class="min-vh-100" id="cover">
  <div class="container-fluid text-white">
    <div class="row mt-2">
      <nav class="col-md-3 col-lg-3 col-sm-2  d-none d-md-block sidebar navbar-expand-md">
        <div class="sidebar-sticky">
          <img [src]="user.image || imageUrl" style="height: 100px; width: 100px" alt="avatar" class="img-thumbnail mt-3">
          <h5>
            <span class="badge bg-primary">{{getUserName()}} {{getUserLastName()}}</span>
          </h5>
          <ul class="nav flex-column">
            <li  class="nav-item active text-center border-bottom border-top">
              <a class="nav-link active btn" (click)="changeTab('Quizzes')" >
                  <mat-icon inline=true>extension</mat-icon><strong> {{'DASHBOARD.SIDEBAR.QUIZZES' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()==='user' || getUserRole()==='super admin'" class="nav-item border-bottom">
              <a class="nav-link btn" (click)="profileSet(false, getUser())">
                <span data-feather="users"></span>
                <mat-icon inline=true>person</mat-icon><strong> {{'DASHBOARD.SIDEBAR.PROFILE' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()==='user'" class="nav-item border-bottom">
              <a class="nav-link btn" (click)="changeTab('Friends')">
                <mat-icon inline=true>group</mat-icon><strong> {{'DASHBOARD.SIDEBAR.FRIENDS' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()=='admin'"  class="nav-item border-bottom">
              <a class="nav-link btn"  (click)="changeTab('Moderators')">
                <mat-icon inline=true>group</mat-icon><strong> {{'DASHBOARD.SIDEBAR.MODERATORS' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()=='super admin'" class="nav-item border-bottom">
              <a class="nav-link btn"  (click)="changeTab('Admins-Moderators')">
                <mat-icon inline=true>group</mat-icon><strong> {{'DASHBOARD.SIDEBAR.ADMINS_MODERATORS' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()=='user'" class="nav-item border-bottom">
              <a class="nav-link btn" (click)="changeTab('Activity')">
                <mat-icon inline=true>group</mat-icon><strong>{{'DASHBOARD.SIDEBAR.ACTIVITIES' | translate}}</strong>
              </a>
            </li>
            <li  class="nav-item border-bottom">
              <a class="nav-link btn" (click)="changeTab('Announcement')">
                <mat-icon inline=true>event_note</mat-icon> <strong> {{'DASHBOARD.SIDEBAR.ANNOUNCEMENT' | translate}}</strong>
              </a>
            </li>
            <li class="nav-item border-bottom">
              <a class="nav-link active btn" (click)="changeTab('Achievements')" >
                <mat-icon inline=true>gamepad</mat-icon><strong> {{'DASHBOARD.SIDEBAR.ACHIEVEMENTS' | translate}}</strong>
              </a>
            </li>
            <li *ngIf="getUserRole()=='user'" class="nav-item border-bottom">
              <a class="nav-link btn text-align-center" (click)="changeTab('Settings')">
                <span data-feather="bar-chart-2"></span>
                <mat-icon inline=true>settings</mat-icon><strong> {{'DASHBOARD.SIDEBAR.SETTINGS' | translate}}</strong>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-1 align-self-start" >
        <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="joinForm" (ngSubmit)="submit()">
                  <div class="col-lg-11 ml-lg-3 mt-5 alert alert-danger" [hidden]="!join_message">
                    {{join_message}}
                  </div>
                  <div class="form-group">
                    <h4 class="form-control-label" style="color: black">{{'DASHBOARD.JOIN FORM.LABEL' | translate}}</h4>
                    <input type="text" formControlName="accessCode"  class="form-control text-center"  placeholder="{{'DASHBOARD.JOIN FORM.PLACEHOLDER' | translate}}" required [minlength]="6" [maxlength]="6">
                    <div *ngIf="joinForm.get('accessCode').invalid && joinForm.get('accessCode').touched"
                         class="validation">
                      <small *ngIf="joinForm.get('accessCode').errors.required">
                        {{'DASHBOARD.JOIN FORM.VALIDATION' | translate}}
                      </small>
                    </div>
                  </div>
                  <button  class="btn btn-primary btn-lg" type="submit" [disabled]="joinForm.invalid">{{'DASHBOARD.JOIN FORM.BUTTON' | translate}}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tab === 'Users' || tab === 'Friends' || tab === 'Admins-Moderators' || tab==='Moderators' || tab === 'Quizzes' " class=" main-frame container-fluid my-5 ">
          <form *ngIf="tab !== 'Quizzes'" class="form-inline ml-3 my-2 my-lg-0" >
            <input [(ngModel)]="term" name="term" id="search-box"  class="form-control my-2 mx-auto" type="text" placeholder="Search" style="width: 70%">
            <button for="search-box" class="btn btn-secondary my-2 my-sm-0" (click)="search()" type="submit" style="width: auto">Search</button>
            <button *ngIf="getUserRole()==='admin' || getUserRole()==='super admin'" class="btn btn-success my-2 mx-auto my-sm-0"
                    (click)="profileSet(true)"  style="width: auto">{{'DASHBOARD.SEARCH.BUTTON.ADD' | translate}}</button>
          </form>
          <form *ngIf="tab === 'Quizzes'" class="form-inline ml-3 my-2 my-lg-0" >
            <input [(ngModel)]="term" name="term" id="search-quiz"  class="form-control my-2 mr-3" type="text" placeholder="Search" style="width: 70%">
            <mat-form-field color="Warn" id="dropListCategory">
              <mat-label class="text-center">Categories</mat-label>
              <mat-select [(value)]="selectedCategories" multiple>
                <mat-option *ngFor="let category of categoriesList" [value]="category.name">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button for="search-box" class="btn btn-secondary my-2 mx-2 my-sm-0" (click)="search()" type="submit" style="width: auto">Search</button>
            <div *ngIf="isMoreFiltersVisible" class="row ml-3">
              <input [(ngModel)]="quizUser" name="quizUser" id="search-quiz-by-user"  class="form-control my-2 mr-3" type="text" placeholder="User name" style="width: 20%">
              <mat-form-field>
                <mat-label>Choose a date from</mat-label>
                <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="dateFrom" name="dateFrom">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Choose a date to</mat-label>
                <input matInput [matDatepicker]="pickerTo" [(ngModel)]="dateTo" name="dateFrom">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
            </div>
            <li><a (click)="showMoreFilters()">More Filters</a></li>
            <button *ngIf="getUserRole()==='admin' || getUserRole()==='super admin'" class="btn btn-success my-2 mx-2 my-sm-0"
                    (click)="profileSet(true)"  style="width: auto">{{'DASHBOARD.SEARCH.BUTTON.ADD' | translate}}</button>
          </form>
          <div *ngIf="tab !== 'Quizzes'">
            <app-user-card *ngFor="let user of users$ | async" (onChanged)="profileSet(false, $event)" [user]="user"></app-user-card>
          </div>
          <div *ngIf="tab === 'Friends'">
            <app-friends></app-friends>
          </div>

          <app-quiz-dashboard *ngIf="tab === 'Quizzes' && isVisible; else elseBlock" class="mt-5"></app-quiz-dashboard>
          <ng-template #elseBlock>
            <div class="raw">
              <div *ngIf="tab === 'Quizzes'">
                <app-quiz-card *ngFor="let quiz of quizes$ | async" class="col-lg-4 col-md-6 col-sm-6  align-self-center" [quiz]="quiz"></app-quiz-card>
              </div>
            </div>
          </ng-template>
        </div>
        <!--Profile-->
        <div *ngIf="tab === 'Achievements'">
          <app-achievement-dashboard></app-achievement-dashboard>
        </div>
        <app-user-profile *ngIf="tab === 'Profile' || tab === 'AddProfile'" [user]="user" [editOnly]="tab!=='Profile'"></app-user-profile>
        <app-settings *ngIf="tab === 'Settings'"></app-settings>
        <app-announcement-dashboard *ngIf="tab === 'Announcement'" ></app-announcement-dashboard>
        <app-user-activity-dashboard *ngIf="tab === 'Activity'"></app-user-activity-dashboard>
      </main>
    </div>
  </div>

</section>
