body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: auto;
  vertical-align: text-bottom;
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.main-frame  {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-y: auto;
}
h2{
  font-size: x-large;
}
.sidebar .nav-link {
  font-weight: 500;
  color: white;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

color-black{
  color: black;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}
small{
  color: red;
}

img {
  border-radius: 50%;
}
