<section   class="min-vh-100" id="cover">
  <div class="container-fluid text-white">
    <div class="row mt-2">
      <nav class="col-md-3 col-lg-3 col-sm-2  d-none d-md-block sidebar navbar-expand-md">
        <div class="sidebar-sticky">
          <img  src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png"/>
          <h5>
            <span class="badge bg-primary">{{user.firstName}} {{user.lastName}}</span>
          </h5>
           <ul class="nav flex-column">
            <li  class="nav-item active text-center border-bottom border-top">
              <a class="nav-link active" (click)="changeTab('Quizzes')" >
                Quizzes
              </a>
            </li>
            <li *ngIf="user.role.name==='user'" class="nav-item border-bottom">
              <a class="nav-link" (click)="changeTab('Friends')">
                Friends
              </a>
            </li>
             <!-- <li *ngIf="userRole()=='super admin'" class="nav-item border-bottom">
               <a class="nav-link"  (click)="changeTab('Users')">
                 Users
               </a>
             </li> -->
             <li *ngIf="user.role.name=='admin'"  class="nav-item border-bottom">
               <a class="nav-link"  (click)="changeTab('Moderators')">
                 Moderators
               </a>
             </li>
             <li *ngIf="user.role.name=='super admin'" class="nav-item border-bottom">
               <a class="nav-link"  (click)="changeTab('Admins/Moderators')">
                 Admins/Moderators
               </a>
             </li>
            <li class="nav-item border-bottom">
              <a class="nav-link" (click)="changeTab('News')">
                News
              </a>
            </li>
             <li  class="nav-item border-bottom">
               <a class="nav-link" (click)="changeTab('Announcement')">
                 Announcement
               </a>
             </li>
            <li *ngIf="user.role.name==='user' || user.role.name==='super admin'" class="nav-item border-bottom">
              <a class="nav-link" (click)="profile()">
                <span data-feather="users"></span>
                Profile
              </a>
            </li>
            <li class="nav-item border-bottom">
              <a class="nav-link" (click)="changeTab('Settings')">
                <span data-feather="bar-chart-2"></span>
                Settings
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-1 align-self-start" >
<!--        Users search menu-->
        <div *ngIf="tab === 'Users' || tab === 'Friends' || tab === 'Admins/Moderators' || tab==='Moderators'" class="main-frame container-fluid my-5 ">
          <form class="form-inline ml-3 my-2 my-lg-0 border-bottom" >
            <input #searchBox id="search-box"  class="form-control my-2" type="text" placeholder="Search" style="width: 75%">
            <button for="search-box" class="btn btn-secondary my-2 mx-auto my-sm-0" (click)="search(searchBox.value)" type="submit" style="width: auto">Search</button>
            <button *ngIf="user.role.name==='admin' || user.role.name==='super admin'" class="btn btn-success my-2 mx-auto my-sm-0"
                    (click)="emptyProfile()"  style="width: auto">Add</button>
          </form>
          <app-user-card *ngFor="let user of users$ | async" [user]="user"></app-user-card>
        </div>
<!--        Profile-->
        <app-user-profile [user]="getUser(param)" [editOnly]="param" *ngIf="tab === 'Profile'"></app-user-profile>
<!--    Announcement-->
<!--        <app-announcement *ngIf="tab === 'Announcement'"> </app-announcement>-->
<app-announcement-edit></app-announcement-edit>
      </main>
    </div>
  </div>

</section>
