<section  class="min-vh-100" id="cover">
  <div class="container text-white p-2 align-items-center w-50" id="bod0" style="height: 15rem" *ngIf="interval===null && indexQuestion === 0">
    <h2 class="mt-2">{{'PLAY_QUIZ.START_MENU.TITLE' | translate}}</h2>
    <div class="row" *ngIf="!getUserJoin(); else elseBlock">
      <div class="col" >
        <button class="btn btn-primary my-2 w-50" (click)="startNewGame();startGame()" >{{'PLAY_QUIZ.START_MENU.BUTTON.START' | translate}}</button>
      </div>
    </div>

    <div #elseBlock class="row" [hidden]="!getUserJoin()">
      <div class="col">
        <h4>{{'PLAY_QUIZ.START_MENU.JOIN' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary mt-2 w-50" type="button" data-toggle="collapse" data-target="#inviteFriendCollapse" aria-expanded="false" aria-controls="collapseExample">{{'PLAY_QUIZ.START_MENU.BUTTON.INVITE' | translate}}</button>
        <div class="collapse" id="inviteFriendCollapse">
          <h4>{{'PLAY_QUIZ.START_MENU.ACCESS_CODE' | translate}} : {{access_code}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="interval===null && finish" class="container text-white p-2 align-items-center w-50" [hidden]="interval">
    <div *ngIf="topStats.length > 0; else elseBlock" class="raw">
      <div class="card card-cascade narrower" style="background-color: transparent; border:1px solid">
        <div class="align-items-center">
          <h3>{{'PLAY_QUIZ.RESULT.TABLE.TITLE' | translate}}</h3>
        </div>
        <div class="table-wrapper">
          <table class="table table-hover mb-0 text-white">
            <thead>
            <tr>
              <th>#</th>
              <th class="th-lg">{{'PLAY_QUIZ.RESULT.TABLE.USERNAME' | translate}}</th>
              <th class="th-lg">{{'PLAY_QUIZ.RESULT.TABLE.SCORE' | translate}}</th>
              <th class="th-lg">{{'PLAY_QUIZ.RESULT.TABLE.TIME' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let sessionStat of topStats">
              <td>{{sessionStat.place}}</td>
              <td>{{sessionStat.username}}</td>
              <td>{{sessionStat.score}}</td>
              <td>{{sessionStat.time}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <h2>{{'PLAY_QUIZ.RESULT.TABLE.NO_RES' | translate}}</h2>
    </ng-template>

    <h2 class="mt-2">{{'PLAY_QUIZ.RESULT.TEXT' | translate}} {{getScore()}}</h2>
    <h2 class="mt-2">{{'PLAY_QUIZ.RESULT.TIME' | translate}} {{timeSpent}} {{'PLAY_QUIZ.RESULT.SECONDS' | translate}}</h2>
    <!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sessionStats" aria-expanded="false" aria-controls="collapseExample">-->
      <!--Show stats-->
    <!--</button>-->
    <!--<div class="collapse" id="sessionStats">-->
      <!--<ul *ngFor="let stat of stats" >-->
      <!--{{stat.username}} : {{stat.score}}-->
      <!--</ul>-->
    <!--</div>-->
    <app-quiz-aprove-form *ngIf="getUserRole() !== 'user'" [userId]="72" [quizId]="quizId">
    </app-quiz-aprove-form>
    <a routerLink="/dashboard"><h3>{{'PLAY_QUIZ.RESULT.BUTTON' | translate}}</h3></a>
  </div>
  <div class="container text-white p-0" id="bod1" *ngIf="interval!==null" >
    <nav class="w-100 navbar-expand-md">
      <ul class="navbar-nav  justify-content-between">
        <li class="nav-item">
          <label class="ml-2 mr-2">{{'PLAY_QUIZ.GAME.QUESTION' | translate}} {{indexQuestion + 1}}/{{questions.length}}</label>
        </li>
        <li class="nav-item">
          <label class="ml-2">{{'PLAY_QUIZ.GAME.SCORE' | translate}} {{getScore()}}/{{questions.length*10}}</label>
        </li>
        <li class="nav-item">
          <label class="mr-2" [class.text-warning]="timer < 5"> {{'PLAY_QUIZ.GAME.TIME_LEFT' | translate}} {{timer}}</label>
        </li>
      </ul>
    </nav>
    <div class="row mt-2">
      <div class="container p-4">
        <div class="container " id="bod2">
          <div id="questions" class="row mt-2">
            <div class="col text-right">
              <button (click)="nextQuestion(true)" class="btn text-right my-1 btn-primary">{{'PLAY_QUIZ.GAME.BUTTON.SKIP' | translate}}</button>
            </div>
          </div>

          <div class="row mt-2">
            <div *ngIf="optionType === 3" class="col text-right">
              <button (click)="sendOptionAnswer()" class="btn text-right my-1 btn-success">{{'PLAY_QUIZ.GAME.BUTTON.SEND' | translate}}</button>
            </div>
            <div *ngIf="optionType === 4" class="col text-right">
              <button (click)="seqAnswer()" class="btn text-right my-1 btn-success">{{'PLAY_QUIZ.GAME.BUTTON.SEND' | translate}}</button>
            </div>
          </div>
          <div class="row mt-1 justify-content-center">
            <div class="col-12 text-center" >
              <!--              <img src="https://cdn.pixabay.com/photo/2020/04/09/12/28/dog-5021242_1280.jpg" style="max-height: 200px;max-width: 100px" class="my-2 img-fluid rounded" alt="news">-->
              <h3 style="color:black">{{questions[indexQuestion].text}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="container justify-content-center">
        <div id="options" class="row mb-2 justify-content-center">
          <div *ngIf="optionType === 1" class="col-12">
            <div class="row justify-content-between">
              <button (click)="defAnswer('True')" class="col btn mx-1 btn-success">{{'QUIZ_EDIT.QUESTION_FORM.SELECT_TYPE.OPTIONS.SELECT_OPTION.BUTTON.TRUE' | translate}}</button>
            </div>
            <div class="row  my-2 justify-content-between">
              <button (click)="defAnswer('False')" class="col btn mx-1 btn-success">{{'QUIZ_EDIT.QUESTION_FORM.SELECT_TYPE.OPTIONS.SELECT_OPTION.BUTTON.FALSE' | translate}}</button>
            </div>
          </div>

          <div *ngIf="optionType === 2" class="input-group mb-3 col-12" style="text-align: center">
            <input #ans type="text" class="form-control" placeholder="{{'QUIZ_EDIT.QUESTION_FORM.SELECT_TYPE.OPTIONS.TYPE_ANSWER.PLACEHOLDER' | translate}}" aria-label="Type answer" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button (click)="defAnswer(ans.value)" class="col btn mx-1 btn-success" type="button">{{'PLAY_QUIZ.GAME.BUTTON.SEND' | translate}}</button>
            </div>
          </div>
          <div *ngIf="optionType === 3" class="col-12">
            <div class="col-12">
              <div class="row justify-content-between">
                <div *ngFor="let answer of optionalAnswers;" class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-success">
                      <input (change)="answer.is_correct ? addPoint(1, $event) : addPoint(-1, $event)"   type="checkbox" value="" aria-label="Checkbox for following text input">
                    </div>
                  </div>
                  <label type="text" class="form-control" aria-label="Text input with checkbox">{{answer.text}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 align-self-center">
            <div *ngIf="optionType === 4" class="mb-3">
              <ul class="list-unstyled">
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                  <button *ngFor="let option of optionsSequence;" class="col btn mx-1 btn-success mb-2">
                    <li cdkDrag>
                      {{option.text}}
                    </li>
                  </button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
