
<section   class="min-vh-100" id="cover">
  <div class="container text-white p-0" id="bod1">
    <nav class="w-100 navbar-expand-md">
        <ul class="navbar-nav  justify-content-between">
          <li class="nav-item">
            <label class="ml-2">Question 1/10</label>
          </li>
          <li class="nav-item">
            <label class="mr-2"> Time left 00:00</label>
          </li>
        </ul>
    </nav>
    <div class="row mt-2" >
      <div class="container p-4">
        <div class="container " id="bod2">
          <div class="row mt-2">
            <div class="col text-right">
            <button class="btn text-right my-1 btn-primary">Skip</button>
            </div>
          </div>
          <div class="row mt-1 justify-content-center">
            <div calss="col-3  col-sm-2 col-md-2 col-lg-2">
              <img src="https://cdn.pixabay.com/photo/2020/04/09/12/28/dog-5021242_1280.jpg" style="max-height: 200px;max-width: 100px" class="my-2 img-fluid rounded" alt="news">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 ">
              <div class="row justify-content-between">
              <button class="col btn mx-1 btn-success">Option 1</button>
              <button class="col btn mx-1 btn-success">Option 2</button>
              </div>
              <div class="row  my-2 justify-content-between">
              <button class="col btn mx-1 btn-success">Option 3</button>
              <button class="col btn mx-1 btn-success">Option 4</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
