 #bod1{
  background-color: rgba(0,0,0,0.5);
  /*border-radius: 10px;*/
}
 #bod2{
   background-color: rgb(250, 255, 255);
   border-radius: 10px;
 }
 nav{
   background-color: rgb(88, 110, 255);
 }

 /* Animate items as they’re being sorted. */
 .cdk-drop-list-dragging .cdk-drag {
   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }
 /* Animate an item that has been dropped. */
 .cdk-drag-animating {
   transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
 }
