  <div class="container">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a  data-target="#quizzes" data-toggle="tab" class="nav-link active show">Quizzes</a>
        </li>
        <li class="nav-item">
          <a  data-target="#userQuizzes" data-toggle="tab" class="nav-link">My Quizzes</a>
        </li>
      </ul>
      <div  class="tab-content py-4">
        <div class="tab-pane active show" id="quizzes">
<!--          <div *ngFor="let quiz of quizzes" class="card text-white bg-primary mb-3" style="max-width: 18rem;">-->
<!--            <div class="card-header"><img src="../../assets/logo_brainduel.png" width="110" height="122"></div>-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{quiz.title}}</h5>-->
<!--              <p class="card-text">{{quiz.description}}</p>-->
<!--              &lt;!&ndash;        <button class="delete-btn" title="delete question"&ndash;&gt;-->
<!--              &lt;!&ndash;                (click)="deleteQuiz(quiz)">x</button>&ndash;&gt;-->

<!--              <div class="btn-group mr-2" role="group" aria-label="First group">-->
<!--                <a href="#">-->
<!--                  <button type="button" class="btn btn-secondary mr-3">Play</button>-->
<!--                </a>-->
<!--                <a routerLink="/quiz-edit/{{quiz.id}}">-->
<!--                  <button type="button" class="btn btn-secondary">Edit</button>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
            <p>Quizzes</p>
          </div>

          <div class="tab-pane" id="userQuizzes">
            <p>MyQuizzes</p>
          </div>
      </div>
    </div>
  </div>

