
 #cover {
    background:rgba(32, 39, 106, 0.95);
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

 .mat-form-field-underline {
   background-color:white !important;
 }
 /* GLOBAL **/
 .mat-icon {
   vertical-align: middle;
   position: relative;
   top: -1px;
 }

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
