<div class="container d-flex justify-content-left">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Invites <span class="badge badge-light">{{userInvites.length}}</span>
    <span class="sr-only">unread messages</span>
  </button>
</div>
<div class="collapse" id="collapseExample">
  <app-user-invite-card *ngFor="let userInvite of userInvites" [userInvite]="userInvite" [isFriendList]="false"></app-user-invite-card>
</div>

<div *ngIf="friendsList.length > 0; else elseBlock">
  <h2>Friends</h2>
  <div class="d-flex flex-row">
    <app-user-invite-card *ngFor="let friend of friendsList" [userInvite]="friend" [isFriendList]="true"></app-user-invite-card>
  </div>
  </div>
<ng-template #elseBlock>
  <h2>No friends to show</h2>
</ng-template>

