section {
  font-family: Quicksand, Helvetica, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
}

.container {
  font-family: Quicksand, Helvetica, Arial;
  max-width: 720px;
}

.kr-modal-body {
  width: 480px;
  padding: 0;
  position: relative;
}

.banner {
  padding: 24px 32px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

div {
  display: block;
}

.kr-modal-body .form {
  width: 100%;
  box-sizing: border-box;
  padding: 0 32px;
}

.kr-modal-body .form .quiz-name-wrapper {
  margin-bottom: 20px;
}

.kr2-textfield {
  position: relative;
  margin-bottom: 16px;
}

.kr-modal-body .form .quiz-name-wrapper .quiz-name-input label {
  font-size: 13px;
  font-weight: 500;
  color: white;
  margin-bottom: 2px;
}

.kr2-textfield label {
  display: block;
}

label {
  cursor: default;
}

.kr2-textfield input {
  display: block;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  font-size: 16px;
  padding: 0 16px;
  color: #292A3A;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
}

.true-false {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  font: 100 13.3333px Arial;
}

input, textarea, select, button {
  font-family: Quicksand;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
}

.kr-modal-body .form .quiz-name-wrapper .quiz-name-input .quiz-name-error {
  margin-top: 4px;
  font-size: 12px;
  color: #EC0B43;
}

.hidden {
  display: none !important;
}

.kr-modal-body .action-btns-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px 24px;
}

.kr-modal-body .action-btns-wrapper .cancel-btn, .kr-modal-body .action-btns-wrapper .save-btn {
  padding: 8px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #292A3A;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

button {
  user-select: none;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  background-color: buttonface;
  box-sizing: border-box;
  font: 400 13.3333px Arial;
}

.kr-modal-body .action-btns-wrapper .save-btn {
  background-color: #00C985;
  color: #fff;
  margin-left: 16px;
  min-width: 124px;
}

.add-btn, .delete-btn, .true-btn, .false-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.add-btn {
  font-family: Quicksand;
  background-color: #00C985;
  margin-left: 16px;
  min-width: 124px;
  padding: 8px 16px;
}

.delete-btn {
  font-family: Quicksand;
  background-color: #FE2E2E;
  margin-left: 16px;
  min-width: 20px;
  padding: 0;
}

.true-btn {
  font-family: Quicksand;
  background-color: #00C985;
  margin-left: 16px;
  min-width: 124px;
  padding: 8px 16px;
}

.false-btn {
  font-family: Quicksand;
  background-color: #00C985;
  margin-left: 16px;
  min-width: 124px;
  padding: 8px 16px;
}

.kr-anim-spin {
  animation: spin 1s linear infinite;
}

.fas {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/*.pop{*/
/*  height: 50px;*/
/*  width: 40%;*/
/*  margin-left: 20px;*/
/*  border: 1px solid white;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/* Animate items as they’re being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
