<div class="achievement-box">
  <div class="achievement-box-icon">
  </div>
  <div class="achievement-box-namebar-area">
    <span>{{achievement.title}}</span>
    <div class="achievement-box-bar">
      <div class="achievement-box-status-25">
      </div>
    </div>
    <span>0/{{achievement.amountOfQuizzes}}</span>
  </div>
</div>
<!--<div class="achievement-box">-->
<!--  <div class="achievement-box-icon">-->
<!--  </div>-->
<!--  <div class="achievement-box-namebar-area">-->
<!--    <span>Your math progress</span>-->
<!--    <div class="achievement-box-bar">-->
<!--      <div class="achievement-box-status-50">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="achievement-box">-->
<!--  <div class="achievement-box-icon">-->
<!--  </div>-->
<!--  <div class="achievement-box-namebar-area">-->
<!--    <span>Your history progress</span>-->
<!--    <div class="achievement-box-bar">-->
<!--      <div class="achievement-box-status-75">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="achievement-box">-->
<!--  <div class="achievement-box-icon">-->
<!--  </div>-->
<!--  <div class="achievement-box-namebar-area">-->
<!--    <span>Your geography progress</span>-->
<!--    <div class="achievement-box-bar">-->
<!--      <div class="achievement-box-status-100">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



