<div *ngIf="role === 'user'; else elseBlock" class="achievement-box mt-5 ml-3 text-center">
  <div class="achievement-box-icon" [ngStyle]="{'background-image': urlIcon}">
  </div>
  <div class="achievement-box-namebar-area">
    <span>{{userAchievement.title}}</span>
    <div class="achievement-box-bar">
      <div class="{{boxStatus()}}" [ngStyle]= "{'width':  percentStatus + '%', 'to': percentStatus +'%'}">
      </div>
    </div>
    <span>{{played}}/{{userAchievement.quizAmount}}</span>
  </div>
</div>
<ng-template #elseBlock>
  <div class="achievement-box mt-5 ml-3 text-center">
    <div class="achievement-box-icon" [ngStyle]="{'background-image': urlIcon}">
    </div>
    <div class="achievement-box-namebar-area">
      <span>{{achievement.title}}</span>
      <div class="achievement-box-bar">
        <div class="">
        </div>
      </div>
      <span>0/{{achievement.amountOfQuizzes}}</span>
    </div>
  </div>
</ng-template>



