<section class="min-vh-100" id="cover">
  <div class="container">
    <h1>{{'LOGIN.TITLE' | translate}}</h1>
    <h3>{{'LOGIN.WELCOME' | translate}}</h3>
    <div class="row text-white">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <img  src="https://img.icons8.com/plasticine/100/000000/user-male-circle.png"/>
        <div class="alert alert-danger" [hidden]="!error">
            {{error}}
        </div>
        <form [formGroup]="userForm" (ngSubmit)="login()">
          <div class="form-group ">
            <input type="text" formControlName="username"  class="form-control text-center"  placeholder="{{'LOGIN.FORM.USERNAME' | translate}}" required maxlength="20">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" class="form-control text-center" id="exampleInputPassword1" placeholder="{{'LOGIN.FORM.PASSWORD' | translate}}" required maxlength="20">
          </div>
          <button  class="btn btn-secondary btn-lg btn-block" type="submit" [disabled]="!userForm.valid">{{'LOGIN.FORM.BUTTON.LOGIN' | translate}}</button>
        </form>
        <div class="text-center">
          <a  routerLinkActive="active" routerLink="/pass-reset"><label style="color: white;" class="btn">{{'LOGIN.FORM.FORGOT_PASSWORD' | translate}}</label></a>
          <a routerLinkActive="active" routerLink="/signup"><label style="color: white;" class="btn" >{{'LOGIN.FORM.SIGN_UP' | translate}}</label></a>
        </div>
      </div>
    </div>
  </div>
</section>



