<section class="min-vh-100" id="cover">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <div class="container d-flex justify-content-center">
    <div class="kr-modal-body">
      <div class="banner">
        <div class="title">
          {{'CREATE_QUIZ.TITLE' | translate}}
        </div>
      </div>
      <form [formGroup]="quizForm" novalidate>
        <div class="form">
          <div class="form-group text-left">
            <div class="quiz-name-wrapper">
              <div class="quiz-name-input kr2-textfield">
                <label>{{'CREATE_QUIZ.NAME'| translate}}</label>
                <input class="form-control" name="title" formControlName="title" type="text" id="name-input" placeholder="{{'CREATE_QUIZ.NAME_PLACEHOLDER' | translate}}" data-qtest="quiz-name-input-field" maxlength="20">
                <div class="quiz-name-validation"
                     *ngIf="quizForm.controls['title'].invalid && quizForm.controls['title'].touched">
                  {{'CREATE_QUIZ.NAME_VALIDATION' | translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group text-left">
            <div class="quiz-name-wrapper">
              <div class="quiz-name-input kr2-textfield">
                <label>{{'CREATE_QUIZ.DESCRIPTION' | translate}}</label>
                <input class="form-control" name="description" formControlName="description" type="text" id="name-input" placeholder="{{'CREATE_QUIZ.DESCRIPTION_PLACEHOLDER' | translate}}" data-qtest="quiz-name-input-field" maxlength="20">

                <div class="quiz-description-validation"
                     *ngIf="quizForm.controls['description'].invalid && quizForm.controls['description'].touched">
                  {{'CREATE_QUIZ.DESCRIPTION_VALIDATION' | translate}}
                </div>
                <label class="mt-2">{{'CREATE_QUIZ.CHOOSE_CATEGORIES' | translate}}</label>
                <mat-form-field color="primary">
                  <mat-label class="text-center">{{'CREATE_QUIZ.CATEGORIES_PLACEHOLDER' | translate}}</mat-label>
                  <mat-select class="form-control" formControlName="categories" multiple>
                    <mat-option *ngFor="let category of categoriesList" [value]="category">{{category.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="quiz-description-validation"
                     *ngIf="quizForm.controls['categories'].invalid && quizForm.controls['categories'].touched">
                  {{'CREATE_QUIZ.CATEGORIES_VALIDATION' | translate}}
                </div>
                <label class="mt-2">4. Choose picture*</label>
                <app-upload-file (onChanged)="onChanged($event)"></app-upload-file>
                <div class="quiz-name-validation"
                     *ngIf="quizForm.controls['image'].invalid">
                  You need to set up a picture
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="action-btns-wrapper">
            <button class="cancel-btn" data-qtest="cancel-create-quiz-btn" (click)="goBack()">{{'CREATE_QUIZ.BUTTON.CANCEL' | translate}}</button>
            <button [disabled]="quizForm.invalid" class="save-btn" data-qtest="create-quiz-btn" (click)="createQuiz()"><i class="fas fa-spinner kr-anim-spin hidden"></i><span class="">{{'CREATE_QUIZ.BUTTON.NEXT' | translate}}</span></button>
          </div>
        </div>

      </form>

    </div>
  </div>
</section>
