<div class="container-fluid">
  <div class="card  mb-3" style="color: #2d2d2d;">
    <div class="row no-gutters">
      <div class="col">
        <div class="row justify-content-center">
          <div class=" col-4 col-sm-3 col-md-3 col-lg-2 align-self-center pr-1 ">
            <img [src]="announcement.image || imageUrl" style="max-height: 350px;" class="card-img" alt="news">
          </div>
          <div class="col-10 col-sm-9 col-md-9 col-lg-10 align-self-center">
            <div class="row">
              <div class="col">
                <div class="alert alert-danger" [hidden]="!error" >
                  {{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.CREATE_ANNOUNCEMENT.ALERT' | translate}}
                </div>
                <div class="alert alert-danger" [hidden]="!message" >
                  {{message}}
                </div>
                <h2 class="card-title" style=""><strong>{{announcement.title}}</strong></h2>
                <p class="card-text">{{announcement.text}}</p>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col align-self-end">

                <p class="card-text mr-4 text-center"><small class="text-muted"><strong>{{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.ANNOUNCEMENT_APPROVE.CREATED' | translate}} {{announcement.date | date:'MM/dd/yyyy'}}</strong></small></p>
              </div>
            </div>
            <div *ngIf="getRole() !== 'user'" class="mt-5 align-items-end" >
              <a  (click)="edit()" class="card-link btn border">{{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.ANNOUNCEMENT_APPROVE.BUTTON.EDIT' | translate}}</a>
              <a *ngIf="announcement.statusId !== announcementCreated" (click)="delete()" class="btn border mx-2">{{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.ANNOUNCEMENT_APPROVE.BUTTON.DELETE' | translate}}</a>
              <a *ngIf="announcement.statusId === announcementCreated" (click)="approve(true)" class="btn border mx-2">{{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.ANNOUNCEMENT_APPROVE.BUTTON.APPROVE' | translate}}</a>
              <a *ngIf="announcement.statusId === announcementCreated" (click)="approve(false)" class="btn border">{{'DASHBOARD.SIDEBAR.TABS.ANNOUNCEMENTS.TABS.ANNOUNCEMENT_APPROVE.BUTTON.DISAPPROVE' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


