
<div class="container mt-2 p-2" id="bod">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" [hidden]="!error">
        {{error}}
      </div>
      <div class="alert alert-success" [hidden]="!message">
        {{message}}
      </div>
      <form [formGroup]="approveForm" role="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="exampleTextarea">Comment</label>
          <textarea id="exampleTextarea" formControlName="comment" rows="3" class="form-control text-center"   required maxlength="500"></textarea>
        </div>
        <fieldset class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" formControlName="approveStatus" name="approveStatus"  value="approved">
              Approved
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" formControlName="approveStatus" name="approveStatus"  value ="disapproved">
              Disapproved
            </label>
          </div>
        </fieldset>
        <button  class="btn btn-secondary btn btn-block my-2" type="submit" [disabled]="!approveForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
